.business-card {
  cursor: pointer;
}

.business-card .post {
  display: flex;

  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  gap: 20px;
}

.business-card .post-image {
  width: 190px;
  height: auto;
  border-radius: 8px;
  /* margin-top: 21px; */
}

.business-card .post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.business-card .post-title {
  font-size: 20px;
  font-weight: bold;
}

.business-card .post-rating,
.business-card .post-description,
.business-card .post-hours {
  font-size: 14px;
  margin: 5px 0;
}

@media (max-width: 600px) {  /*Mobile*/
  .business-card .post-image{
    display: none;
  }
  .business-card .post{
    padding-right: 0;
  }
}
