.business-edit-page {
  display: flex;
  justify-content: center;
}

.business-edit-page .profile-container {
  width: 100%;
  max-width: 850px;
  margin: 100px 0;
  padding: 40px;
  border: 1px solid #e9e9e9;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.business-edit-page .profile-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.business-edit-page .profile-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
  width: 100%;
}

.business-edit-page .profile-field input,
.business-edit-page .profile-field select,
.business-edit-page .profile-field textarea {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 4px;
}

.business-edit-page .profile-field textarea {
  height: 100px; /* Set height for the description area */
  resize: none; /* Prevent resizing */
}

.business-edit-page .profile-field label {
  font-weight: 500;
  margin-bottom: 8px;
  margin-left: 0;
}

.business-edit-page .profile-field .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.business-edit-page .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.business-edit-page .edit-btn,
.business-edit-page .save-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.business-edit-page .edit-btn {
  background-color: black;
  color: white;
}

.business-edit-page .edit-btn:hover {
  background-color: #5a5a5a;
}

.business-edit-page .save-btn {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: 22px;
}

.business-edit-page .save-btn:hover {
  background-color: #5a5a5a;
}

.business-edit-page .success-message {
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Additional styles for the Business Category and Description fields */
.business-category-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.business-category-container label {
  margin-bottom: 8px;
}

.description-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.description-container label {
  margin-bottom: 8px;
}
.section-title {
  margin-top: 44px; /* Add space above the title */
  margin-bottom: 10px; /* Add space below the title */
  font-size: 1.4em; /* Adjust the font size */
  font-weight: bolder; /* Make it bold */
  color: #000000; /* Change the color if needed */
}
