/* Post Section Styles */
.post-section {
    width: 69%;
    margin-left: auto;
    padding: 15px;
    padding-top: 60px;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .post-header h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sort-dropdown {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post {
    display: flex;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
  }
  
  .post-image {
    width: 190px;
    height: auto;
    border-radius: 8px;
  }
  
  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .post-rating, .post-description, .post-hours {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-button:hover {
    background-color: rgb(177, 177, 177);
  }
  
  .page-button.active {
    background-color: black;
  }
  
  
  /* Post Styles */
  .post {
    display: flex;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    gap: 20px;
  }
  
  .post-image {
    width: 190px;
    height: auto;
    border-radius: 8px;
    /* margin-top: 21px; */
  }
  
  .post-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .post-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .post-rating, .post-description, .post-hours {
    font-size: 14px;
    margin: 5px 0;
  }

  .content-container {
    display: flex;
    width: 60%;
    margin: 0 auto;
    gap: 0;
  }
  