/* Sidebar styling */
.sidebar {
    width: 25%; /* Keep sidebar smaller */
    padding: 8px;
    padding-top: 60px;
  }
  
  /* Sidebar header styling */
  .sidebar .filters-header {
    display: flex; /* Align title and button */
    justify-content: space-between; /* Space between title and button */
    align-items: center; /* Center vertically */
    margin-bottom: 30px;
  }
  
  /* Clear all button styling */
  .sidebar .clear-all {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Filter category styling */
  .sidebar .filter-category {
    margin-bottom: 20px;
  }
  
  /* Filter category title */
  .sidebar .filter-category h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Checkbox label styling */
  .sidebar label {
    display: flex; /* Make label and checkbox in a row */
    align-items: center; /* Vertically align text with checkbox */
    margin: 5px 0;
    
    /* Apply nav-link styling */
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
  }
  
  /* Add margin between checkbox and text */
  .sidebar label input {
    margin-right: 10px; /* Adjust the space between checkbox and label text */
  }
  
  .sidebar label:hover {
    color: #000; /* Matching hover style */
  }
  
  /* Horizontal line between categories */
  .sidebar hr {
    margin: 15px 0;
  }
  