.business-edit-page {
  display: flex;
  justify-content: center;
}

.business-edit-page .profile-field select,
.business-edit-page .profile-field textarea {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  background-color: #e5e5e5;
  border: none;
  border-radius: 4px;
}

.business-edit-page .profile-field textarea {
  height: 100px;
  resize: none;
}

/* Additional styles for the Business Category and Description fields */
.business-edit-page .business-category-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.business-edit-page .business-category-container label {
  margin-bottom: 8px;
}

.business-edit-page .description-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.business-edit-page .description-container label {
  margin-bottom: 8px;
}
.business-edit-page .section-title {
  margin-top: 44px; /* Add space above the title */
  margin-bottom: 10px; /* Add space below the title */
  font-size: 1.4em; /* Adjust the font size */
  font-weight: bolder; /* Make it bold */
  color: #000000; /* Change the color if needed */
}
