.business-page-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start;
  width: 90%; 
  margin: 0 auto;
  padding-top: 50px;
  gap: 20px;
}

.business-info-wrapper {
  width: 100%; 
}

.contact-info-wrapper {
  width: 100%; 
  position: relative; 
  top: auto;
}

.section-divider {
  border: none;
  border-top: 1px solid #f0f0f0;
  margin: 5px 0; 
}


@media (min-width: 768px) {
  .business-page-container {
    flex-direction: row; 
    width: 85%; 
  }

  .business-info-wrapper {
    flex: 3;
    width: 60%; 
    padding-right: 20px;
  }

  .contact-info-wrapper {
    flex: 1;
    width: 40%; 
    position: sticky;
    top: 20px; 
  }
}

@media (min-width: 1024px) {
  .business-page-container {
    width: 75%; 
  }
}
