.h .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  height: 120px;
  width: 100vw; /* Full width on all screens */
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow box */
  position: relative;
}

/* Logo Section */
.h .logo {
  display: flex;
  margin-left: 20px;
}

.h .logo img {
  height: 75px;
}

/* Search Section */
.h .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  max-width: 800px;
  margin: 0 20px;
  position: relative;
}

.h .nav-item {
  text-decoration: none;
}

/* Navigation Links */
.h .nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 60px;
}

.h .nav-item {
  margin-left: 60px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.h .nav-item:hover {
  color: #8a8a8a;
}

/* Profile + Three-line Icons */
.h .profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Dropdown Menu Styles */
.h .dropdown-menu {
  position: absolute;
  top: 90px;
  right: 80px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}

.h .dropdown-item {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
}

.h .dropdown-item:hover {
  background-color: #f1f1f1;
}
.h .services-icons {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0;
  height: 85px;
}

.h .hideIcons {
  display: none;
}

/* Responsive Design */
@media (max-width: 900px) {
  .h .header {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .h .search-container {
    max-width: 100%;
    margin-top: 15px;
  }

  .h .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .h .logo img {
    height: 50px;
  }
}

@media (max-width: 600px) {  /*Mobile*/
  .h .search-container {
    width: 100%;
    display: none;
  }

  .h .nav-item {
    margin: 0;
  }
  .h .nav-links {
    margin: 0;
    width: 100%;
  }
  .h .authentication-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10%;
    margin: 7% 0;
  }
  .h .profile-icon{
    margin-left: 80%;
  }
  .h .services-icons {
    padding: 0;
    margin-top: 20px;
  }
}

@media (max-height: 846px) and (min-width: 900px) {
  .h .services-icons {
    padding: 30px 50px 0;
  }
}
