footer {
  margin-top: auto;
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  margin-left: 5%;
  margin-bottom: 10px;
}
.footer-nav {
  width: 100%;
}

.footer-nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
  margin-left: 25%;
}

.footer-nav a {
  color: white;
  text-decoration: none;
}
